In [2]:
import pandas as pd

In [19]:
df = pd.read_csv('Louisiana_county.csv')

#orleans = df[df["COUNTY"] == Orleans]
#input("Socioeconomic")
df.loc[df['COUNTY'] == 'Orleans', : ]

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
35,22,Louisiana,LA,22071,Orleans,22071,"Orleans Parish, Louisiana",169.489236,391249,0,...,2.9,0.1,0.1,0.1,0.0,0.1,1.7,0.1,0.5,0.1